@model LicenseProject.Models.Auth.VerifyPhoneViewModel

<html>
<header>
    <link rel="stylesheet" href="~/css/AuthForm.css">
    <title>@ViewData["Title"] احراز هویت </title>
    <link rel = "icon" href ="~/Contents/Images/logo.PNG" type = "image/x-icon">
    <!-- styles  -->
   
    	<link rel="stylesheet" href="~/Forms/css/animate.css">
    	<link rel="stylesheet" type="text/css" href="~/Forms/css/bootstrap4-rtl.min.css">
    	<link rel="stylesheet" type="text/css" href="~/Forms/css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="~/Forms/css/material-design-iconic-font.min.css">
    	<link rel="stylesheet" type="text/css" href="~/Forms/css/style.css" />
    	<!--/ styles  -->
    
</header>






<body class="rtl" style="background-color: white" >
	<div class="limiter"  style="background-color: white">
		<div class="container-login100" style="background-color: white">
			<div class="wrap-login100" style="background-color: white">

				<!-- form -->
				<form class="login100-form validate-form" method="post" asp-controller="Auth" asp-action="VerifyPhone">
					<!-- logo of form -->
					<span class="login100-form-title p-b-48">
						<img class="logo" src="~/Contents/Images/logo.PNG" width="200px">
					</span>
					<!-- / logo of form -->

					<span class="login100-form-title p-b-26 text-secondary">
						@{
							if (!String.IsNullOrEmpty(Model.PhoneNumber))
							{
								<span>@Model.PhoneNumber</span>
							}
								
						}
					</span>

					<!-- please enter your email -->
					<div class="wrap-input100 validate-input"  data-validate = "کد فعالسازی الزامیست!">
						<input class="input100" type="text" asp-for="Code">
						<span class="focus-input100" data-placeholder="کد فعال سازی شما"></span>
					</div>
						<span asp-validation-for="Code" class="text-danger"></span>
					
					<!-- login button -->
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">فعالسازی</button>
						</div>
					</div>
					<!-- / login button -->
				</form>
				<!-- / form -->

			</div>
		</div>
	</div>
	
	<!-- Scripts -->
	<script src="~/Forms/js/jquery-3.1.1.min.js"></script>
	<script src="~/Forms/js/bootstrap.min.js"></script>
	<script src="~/Forms/js/scripts.js"></script>
	<!-- / Scripts -->

</body><!-- This template has been downloaded from Webrubik.com -->
</html>