

<table id="dataTable" class="table table-bordered table-hover table-active" style="width: 1250px;background-color: white">
    <thead>
    <tr>
        <th>id</th>
        <th> تاریخ فعالسازی شمسی</th>
        <th> تاریخ فعالسازی میلادی</th>
        <th>تاریخ انقضا</th>
        <th>تعداد کلاینت</th>
        <th>سریال لایسنس</th>
        <th>تعداد سریال لایسنس</th>
        <th>دارای نسخه موبال</th>
        <th>دارای پینل پیامکی</th>
        <th>نوع لایسنس</th>
        <th>فعال است</th>
        <th>شماره ثابت</th>
        <th>شماره موبایل</th>
        <th>کد حقوقی</th>
        <th>نام شرکت</th>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>عملیات</th>
       
    </tr>
    </thead>
</table>





